/* Icon files from https://git.io/vps4o */

@font-face {
  font-family: "rh-icons";
  src: url("../fonts/rh-icons.eot");
  src: url("../fonts/rh-icons.eot?#iefix") format("embedded-opentype"),
       url("../fonts/rh-icons.woff") format("woff"),
       url("../fonts/rh-icons.ttf") format("truetype"),
       url("../fonts/rh-icons.svg#rh-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "rh-icons";
    src: url("../fonts/rh-icons.svg#rh-icons") format("svg");
  }
}

html,
body {
    height: 100%;
    background-color: #142c4d;
    background-repeat: repeat;
    background-image: url("../images/background.svg");
    font-family: 'Red Hat Display', sans-serif;
}

.row {
    max-width: 75rem;
}

#home,
#confirmation {
    display: none;
}

#home .column,
#home .columns {
    padding-left: 0px;
    padding-right: 0px;
}

#main-graphic,
#confirmation-row,
#home > .row,
#form {
    overflow: hidden;
    margin-bottom: 4rem;
}

.border-all {
    border: 1px solid #fff !important;
}

.top-section {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}

.top-section .rh-logo {
    max-width: 20rem;
    margin-bottom: 1rem;
}


/* typography */

.top-section h1 {
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    text-transform: uppercase;
    color: #ee0000;
    padding: 0;
    margin: 0;
}

.top-section h2 {
    font-size: 27px;
    color: #4C4D4D;
}

.top-section h3 {
    font-size: 20px;
    font-weight: bold;
    color: #ee0000;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.top-section p {
    color: #4C4D4D;
    font-size: 16px;
}

.acc-title h2,
form h3 {
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.selection-sidebar-header {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

form .block-section h3.block-section-header {
    font-weight: bold;
}

form .block-section h3.block-section-header span {
    font-weight: 400;
}

.selection-sidebar .selection-sidebar-block,
.accordion-title {
    color: #020000;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: bold;
}

.sidebar {
    color: #020000;
    text-transform: uppercase;
    background: #d8dcdd;
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 5px;
    font-weight: normal;
    font-weight: bold;
}

.accordion-title:focus,
.accordion-title:hover {
    background-color: #fff;
}

.checkbox-image {
    left: 0px;
}

.accordion-title:hover {
    color: #020000;
    background: #fff;
}

.accordion-content {
    padding: 0px;
    padding-left: 0px;
}

:last-child>.accordion-content:last-child {
  border-bottom: none;
}


.accordion-item:first-child>:first-child,
.accordion-item:last-child>:last-child {
    border-color: #D8DCDD;
}

li.accordion-item.selection-sidebar-section.border-bottom.is-active,
li.accordion-item.selection-sidebar-section.border-bottom {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.remove {
    padding-right: 5px;
}

dl,
ol,
ul {
    margin-bottom: 0rem;
}

a#l11leu-accordion-label {
    color: #020000;
}

.selection-sidebar .selection-sidebar-section h5 {
    color: #ee0000;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

table tbody td,
table tbody th {
}

#submit-button,
.button {
    
    background: linear-gradient(to right bottom, #ee0000 50%, #cc0000 50%);
}

.submit_box {
    font-weight: bold;
    font-size: 1.25rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 3rem;
    background: linear-gradient(to right bottom, #ee0000 50%, #cc0000 50%);
    padding: 2rem 4rem;
    height: 4rem;
    bottom: 1rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
    display: block;
}

.stack-text {
    color: #ee0000;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0rem;
    margin-left: 20px;
    padding-top: 1%;
}

.stack-empty-text {
    color: #ee0000;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0rem;
    padding-left: 5px;
}

.open-close {
    color: #ee0000;
    font-weight: bold;
}

.is-active > .open-close::before {
    content: '–';
}

.open-close::before {
    content: '+';
    color: #ee0000;
    font-size: 20px;
    position: absolute;
    top: 1.9rem;
    left: 1rem;
    margin-right: 5px;
}


/* home page - sidebar */

.selection-sidebar-section {
    padding: .75rem;
    overflow: auto;
    font-size: 14px;
    line-height: 15px;
}

.selection-sidebar-logo {
    max-width: 10rem;
    margin:auto;
}
.stack-section {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    overflow: auto;
    font-size: 14px;
    line-height: 15px;
}

#empty-stack {
    display: block;
    color: #ee0000;
    font-size: 20px;
    line-height: 20px;
    height: 64.45px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 5%;
}

.selection-sidebar-section .selection {
    font-size: 14px;
    text-transform: none;
}

#automation-sidebar,
#application-development-sidebar,
#devops-tools-sidebar,
#container-platform-sidebar,
#iaas-sidebar,
#product-stack,
#view-product-stack {
    display: none;
}

.selection-sidebar-section .remove {
    min-width: 20px;
    text-align: right;
}

table td.remove .locked-icon {
    height: 12px;
    width: 12px;
}

.selection-sidebar-section .remove span {
    text-decoration: underline;
    color: #020000;
    cursor: pointer;
}

.selection-sidebar {
    margin-top: 20px;
}

.selection-sidebar-top {
    background: #fff;
    margin-bottom: 20px;
}

.selection-sidebar-header {
    background-color: #ee0000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

table {
    margin: 0;
    padding: 0;
}

table tr {
    display: none;
}

#automation-table tr {
    display: block;
}

table tbody,
table tfoot,
table thead {
    border: none;
    background-color: #fff;
}

table tbody td,
table tbody th {
    padding: 0 0 5px 0;
    width: 100%;
}

table tbody tr:nth-child(even),
table tbody tr {
    background-color: #fff;
    /* foundation override */
}


/* form styles */

form .block-section {
    display: block;
}

form .block-section .block-section-header {
    margin-top: 30px;
    margin-bottom: 15px;
}

form .block-section:first-child .block-section-header {
    margin-top: 10px;
}

form h3 {
    color: #ee0000
}

form h3 span {
    color: #020000;
    font-size: 14px;
    text-transform: uppercase;
}

form #submit-button {
    color: #fff;
    background-color: yellow;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 60px;
    font-weight: normal;
    border: none;
    font-size: 22px;
}

input[type='checkbox'],
label,
label .checkbox-image,
[type=checkbox]+label,
{
    display: inline;
}

label .checkbox-image {
    max-width: 110px;
    height: auto;
}


/* checkbox image and related styles */

form fieldset {
    padding-left: 20px;
}

.rh-product-logo-standard {
    height: 28px !important;
}

.rh-product-logo-larger {
    height: 45px !important;
}

.rh-product-logo-extrawide {
    /* Decision Manager's logo is special... */
    height: 30px !important;
}

#red-hat-enterprise-open-source .checkbox-image {
    max-width: 145px;
}

#red-hat-enterprise-open-source fieldset .row:not(:first-child) {
    padding-top: 0;
}

fieldset .row:not(:first-child) {
    padding-top: 25px;
}

.text {
    display: none;
}

.btn-submit {
    text-transform: uppercase;
    background-color: transparent;
    border-color: transparent;
}

a.active {
    color: red;
}

.locked + label .checkbox-image {
    position: relative;}


#rhel {
    position: relative;
}

.backed-by-rhel {
    background: #fff;
    height: auto;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.backed-by-rhel p {
    font-size: 13px;
    line-height: 13px;
    color: #4C4D4D;
    text-transform: uppercase;
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    margin: 0;
    /* Hides the default checkbox style */
}

input[type="checkbox"] + label {
  padding-left: 36px;
  margin-left: 0;
  cursor: pointer;
  position: relative;

}

input[type="checkbox"] + label:before {
  display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background-color: #9F9F9F;
    content: '—';
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

input.locked[type="checkbox"] + label:before {
  background-color: #ddd;
  content: '';
}

input[type="checkbox"]:checked + label:before {
    content: '✔';
}

input.appdev-check[type="checkbox"]:checked + label:before {
    background-color: #ee0000;
}

input.devops-check[type="checkbox"]:checked + label:before {
    background-color: #316dc1;
}

input.container-check:checked[type="checkbox"] + label:before {
    background-color: #96662f;
}

input.iaas-check:checked[type="checkbox"] + label:before {
    background-color: #faaa4f;
}

input.container-check:checked[type="checkbox"] + label:before {
  background-color: #96662f;
}

input:focus {
    outline: none;
}

/* these exist in form but should not be visible on front end */

#management,
#networking,
#storage {
    display: none;
}

#accordion {
    margin-right: 20px;
}


/* active accordion */

#tech-stack .ui-state-active,
#tech-stack .ui-widget-content .ui-state-active,
#tech-stack .ui-widget-header .ui-state-active {
    border: none;
    color: #fff;
    outline: none;
}


/* non-active accordion */

#tech-stack .ui-state-default,
#tech-stack .ui-widget-content .ui-state-default,
#tech-stack .ui-widget-header .ui-state-default {
    border: none;
    color: #fff;
    outline: none;
}


/* accordion content */

.acc-header {
    overflow: auto;
    color: #fff;
    position: relative;
    margin-top: 20px;
}

.acc-header-selection {
    overflow: auto;
    color: #fff;
    position: relative;
}

.acc-left {
    float: left;
    display: inline;
    width: 50%;
    height: 100%;
    position: absolute;
}

.acc-left span {
    display: block;
}

.acc-sprite {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    width: 4rem;
    color: #fff;
    height: 100%;
    float: left;
    text-align: center;
}

.acc-sprite span {
    display: block;
    margin-top: 28px;
    font-size: 40px;
    line-height: 40px;
}

.acc-title {
    display: block;
    text-align: left;
    float: left;
    padding-left: 20px;
}

.acc-title h2 {
    display: block;
    padding: 0;
    margin-top: 42px;
}

.acc-title h2 span {
    display: inline;
    text-transform: lowercase !important;
}

#container-platform-accordion-header .acc-right {
    padding-right: 30px;
    /* make it 4 lines so all 4 space evenly */
}

#monitoring-and-logging {
    display: block;
    padding-bottom: 10px;
}

.acc-right {
    float: right;
    width: 50%;
    background: #fff;
    color: #020000;
    padding: 10px 15px;
    min-height: 100px;
}

.acc-content {
    background: #fff;
    padding: 20px;
    overflow: visible;
}

.app-dev-header {
    background-image: url("../images/section.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

.bg-red {
    background-color: #ee0000;
}

.dev-ops-header {
    background-image: url("../images/section.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

.bg-blue {
    background-color: #316dc1;
}

.container-platform-header {
    background-image: url("../images/section.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

.bg-brown {
    background-color: #96662f;
}

.host-infra-header {
    background-image: url("../images/section.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

.bg-light-orange {
    background-color: #faaa4f;
}

.stack-text.active {
    padding-left: 10px;
}

/* tool tips */

.has-tip {
    border-bottom-width: 0;
    cursor: pointer;
}

.tooltip-appdev {
    background-color: white !important;
    color: #000000;
    border: 2px solid #ee0000 !important;
}

.tooltip-devops {
    background-color: white !important;
    color: #000000;
    border: 2px solid #316dc1 !important;
}

.tooltip-container {
    background-color: white !important;
    color: #000000;
    border: 2px solid #96662f !important;
}

.tooltip-iaas {
    background-color: white !important;
    color: #000000;
    border: 2px solid #faaa4f !important;
}

.tooltip::before,
.tooltip.top::before,
.tooltip.left::before,
.tooltip.right::before,
.tooltip-appdev::before,
.tooltip-appdev.top::before,
.tooltip-appdev.left::before,
.tooltip-appdev.right::before,
.tooltip-devops::before,
.tooltip-devops.top::before,
.tooltip-devops.left::before,
.tooltip-devops.right::before,
.tooltip-container::before,
.tooltip-container.top::before,
.tooltip-container.left::before,
.tooltip-container.right::before,
.tooltip-iaas::before,
.tooltip-iaas.top::before,
.tooltip-iaas.left::before,
.tooltip-iaas.right::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 0.75rem;
    position: absolute
}

.tooltip::before,
.tooltip.left::before,
.tooltip.right::before,
.tooltip-appdev::before,
.tooltip-appdev.left::before,
.tooltip-appdev.right::before,
.tooltip-devops::before,
.tooltip-devops.left::before,
.tooltip-devops.right::before,
.tooltip-container::before,
.tooltip-container.left::before,
.tooltip-container.right::before,
.tooltip-iaas::before,
.tooltip-iaas.left::before,
.tooltip-iaas.right::before {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.tooltip.left::before,
.tooltip.right::before,
.tooltip-appdev.left::before,
.tooltip-appdev.right::before,
.tooltip-devops.left::before,
.tooltip-devops.right::before,
.tooltip-container.left::before,
.tooltip-container.right::before,
.tooltip-iaas.left::before,
.tooltip-iaas.right::before {
    bottom: auto;
    top: 50%
}

.tooltip::before {
    border-color: transparent transparent #0a0a0a;
    border-bottom-style: solid;
    border-top-width: 0;
    bottom: 100%;
    left: 50%
}

.tooltip-appdev::before {
    border-color: transparent transparent #ee0000;
    border-bottom-style: solid;
    border-top-width: 0;
    bottom: 100%;
    left: 50%
}

.tooltip-devops::before {
    border-color: transparent transparent #316dc1;
    border-bottom-style: solid;
    border-top-width: 0;
    bottom: 100%;
    left: 50%
}

.tooltip-container::before {
    border-color: transparent transparent #96662f;
    border-bottom-style: solid;
    border-top-width: 0;
    bottom: 100%;
    left: 50%
}

.tooltip-iaas::before {
    border-color: transparent transparent #faaa4f;
    border-bottom-style: solid;
    border-top-width: 0;
    bottom: 100%;
    left: 50%
}

.tooltip.top::before {
    border-color: #0a0a0a transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip-appdev.top::before {
    border-color: #ee0000 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip-devops.top::before {
    border-color: #316dc1 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip-container.top::before {
    border-color: #96662f transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip-iaas.top::before {
    border-color: #faaa4f transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip.left::before {
    border-color: transparent transparent transparent #0a0a0a;
    border-left-style: solid;
    border-right-width: 0;
    left: 100%
}

.tooltip-appdev.left::before {
    border-color: #ee0000 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip-devops.left::before {
    border-color: #316dc1 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip-container.left::before {
    border-color: #96662f transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip-iaas.left::before {
    border-color: #faaa4f transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip.right::before {
    border-color: transparent #0a0a0a transparent transparent;
    border-right-style: solid;
    border-left-width: 0;
    left: auto;
    right: 100%
}

.tooltip-appdev.right::before {
    border-color: #ee0000 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip-devops.right::before {
    border-color: #316dc1 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip-container.right::before {
    border-color: #96662f transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip-iaas.right::before {
    border-color: #faaa4f transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}


/* parsley error styles */

ul.parsley-errors-list {
    margin: 0;
    padding: 0;
}

ul.parsley-errors-list li {
    background: #fff;
    padding: 10px;
    margin: 20px 0;
    list-style-type: none;
    color: #ee0000;
}

/* confirmation page styles */

.greyed-out {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.3;
}

#confirmation {
    margin-top: 20px;
}

.conf-block {
    background: #fff;
    margin-bottom: 15px;
    position: relative;
}

#iaas-row .conf-block {
    margin-bottom: 0;
}

.conf-acc-header {
    text-align: center;
    padding: 1rem;
}

.conf-acc-header h2 {
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.conf-body {
    background: #fff;
    border-right: 1px solid #d8dcdd;
    overflow: auto;
    width: 100%;
    padding: 15px;
}

.conf-section {
    display: block;
    float: left;
    width: auto;
    min-height: 175px;
}

.conf-section-header {
    text-align: center;
}

.conf-section-header h3 {
    color: #ee0000;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

#ci-cd-conf .conf-section-header h3 {
    margin-bottom: 15px;
}

#source-control-management-conf .conf-section-header h3 {
    margin-bottom: 12px;
}

#collaboration-conf .conf-section-header h3 {
    margin-bottom: 30px;
}

#build-and-artifact-conf .conf-section-header h3 {
    margin-bottom: 25px;
}

#testing-conf .conf-section-header h3,
#code-quality-conf .conf-section-header h3 {
    margin-bottom: 20px;
}

#code-review-conf .conf-section-header h3, 
#project-issue-tracking-conf .conf-section-header h3 {
    margin-bottom: 25px;
}

.conf-acc-header h2 {
    font-size: 18px;
    line-height: 18px;
}

.conf-section-header h3 {
    font-size: 12px;
}

.conf-section img {
    max-width: 100px;
    margin: 0 auto 5px auto;
}

.conf-section#rhe-os-conf img {
    max-width: 120px;
}

.conf-section#rhe-os-conf div {
    text-align: center;
}

#application-development-row .conf-section {
  min-height: 150px;
}

#devops-tools-row .conf-section img {
    max-width: 80px;
}

#container-platform-row .conf-section {
    min-height: 240px;
}

#container-platform-row .stripe-border {
    border-color: #fff;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 30px;
    position: relative;
}

#container-platform-row .stripe-text {
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    bottom: -23px;
}

#container-platform-row .stripe-text p {
    color: #4C4D4D;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.conf-section#rhel-conf img {
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 200px;
}

.conf-section#gitops-and-templating-conf img {
    margin-top: 30px;
    margin-right: 0px;
    max-width: 110px;
}

.conf-section#monitoring-and-logging-conf img {
    margin-top: 15px;
    margin-right: 15px;
    max-width: 85px;
}

.conf-section#public-conf img,
.conf-section#private-conf img {
    max-width: 100px;
    margin-bottom: 20px;
}

#rhe-os-conf,
#bic-os-conf {
  box-sizing: border-box;
  overflow: hidden;
  /* Leave about 2% for padding on container */
  width: 49%;
}

@media (min-width: 1160px) {
  #rhe-os-conf,
  #bic-os-conf,
  #ci-cd-conf,
  #source-control-management-conf,
  #build-and-artifact-conf,
  #testing-conf {
   border-bottom: 2px solid #d8dcdd;
  }
}

#application-development-row #rhe-os-conf,
#application-development-row #bic-os-conf {
  min-height: 170px;
}


#rhe-os-conf {
    padding-right: 15px;
}

#bic-os-conf {
    padding-left: 15px;
}

#data-analytics-conf,
#blockchain-conf,
#infrastructure-conf,
#databases-conf {
  padding-top: 20px;
  box-sizing: border-box;
  width: 24.5%;
}

#data-analytics-conf {
  padding-right: 8px;
}

#blockchain-conf,
#infrastructure-conf {
  padding-left: 8px;
  padding-right: 8px;
}

#databases-conf {
    padding-left: 8px;
}

#ci-cd-conf {
    padding-left: 0px;
    padding-right: 20px;
    width: 24.5%;
}

#source-control-management-conf,
#build-and-artifact-conf {
    padding-left: 15px;
    padding-right: 15px;
    width: 24.5%;
}

#testing-conf {
    padding-left: 0px;
    padding-right: 10px;
    width: 24.5%;    
}

#collaboration-conf,
#code-quality-conf {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    width: 24.5%;
}

#code-review-conf, 
#project-issue-tracking-conf {
    padding-top: 20px;
    padding-left: 20px;
    width: 24.5%;
}

#rhel-conf {
    padding-left: 0px;
    padding-right: 0px;
}

#gitops-and-templating-conf {
    padding-left: 30px;
    padding-right: 0px;
}

#monitoring-and-logging-conf {
    padding-left: 30px;
}

#managed-conf {
  padding-right: 15px;
  padding-left: 5px;
}

#private-conf,
#public-conf {
  padding-right: 15px;
  padding-left: 15px;
}

#managed-conf,
#private-conf,
#public-conf {
  min-height: 245px;
}

#management-conf {
    display: block;
}

#management-conf .conf-section-header {
    display: inline-block;
    margin-right: 60px;
    margin-left: 30px;
}

#management-conf img:first-of-type {
    margin-right: 50px
}

#networking-conf,
#storage-conf {
    width: 100%;
}

#identity-management-conf,
#certificate-management-conf,
#management-conf {
    padding-top: 20px;
}

.odd-section-block {
    border: 2px solid #d8dcdd;
    padding: 10px;
    height: 75px;
}

.odd-section-margin-top {
    margin-top: 10px !important;
}

.odd-section-margin-left {
    margin-left: 10px !important;
}

#storage-conf #storage-img-container-conf {
    text-align: left;
}

.thin-border-right {
    border-right: 2px solid #d8dcdd;
}

.conf-section div {
    text-align: center;
}

#oddball-row {
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 0;
    float: right;
}

#oddball-row .row,
#oddball-row .row .columns {
    margin: 0;
    padding: 0;
}

#oddball-row img {
    max-width: 100px;
    margin-right: 20px;
}


/* social share */

.share-row {
    margin-top: 20px !important;
    display: none;
}

.share-row .columns {
    padding-left: 0;
    margin-top: 20px !important;
}

#share {}

.jssocials-shares {
    margin-top: 10px;
}

.jssocials-share {
    display: inline-block;
    vertical-align: top;
    margin: 0.3em 0 !important;
    width: 25% !important;
    text-align: center;
}

.jssocials-share-link,
.jssocials-share-link:hover {
    background: #000000 !important;
    color: #fff !important;
}

.jssocials-share-link {
    padding: 10px 20px;
    min-width: 150px;
    min-height: 45px;
    box-sizing: border-box;
}

.jssocials-share-label {
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    padding-top: 5px;
}

.jssocials-share-twitter .jssocials-share-label,
.jssocials-share-facebook .jssocials-share-label {
    padding-right: 10px;
}

.jssocials-shares .fa {
    float: right;
    font-size: 25px;
}


/* back links */

.links-row {
    display: none;
}

.links-row .columns {
    padding-left: 0 !important;
}

#links {
    padding-top: 30px;
    padding-bottom: 80px;
}

#links.conf-body {
    text-align: center;
    margin: 0 auto;
    background: none;
    border: none;
}

#links.conf-body,
.links-row .conf-block,
.links-row .border-all {
    background: none;
    border: none !important;
}

.back-links {
    display: inline-block;
    vertical-align: top;
    margin: 0.3em 0 !important;
    width: auto;
    text-align: center;
}

#links .button {
    color: #fff;
    background: #ee0000;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 60px;
    font-weight: normal;
    border: none;
    font-size: 16px
}


/* vertical left side column */

#main-graphic {
    position: relative;
}

#automation-vertical {
    margin-right: 20px;
    position: relative;
    height: 100%;
}

#automation-vertical .conf-section {
    float: none;
    text-align: center;
    height: 100%;
}

#automation-vertical .conf-block {
    overflow: hidden;
    height: 100%;
}

#automation-vertical .conf-body {
    height: auto;
}

#automation-vertical .conf-section img,
#automation-vertical-mobile .conf-section img {
    max-width: 100%;
    margin: 0 auto;
}

.automation-arrow {
    position: absolute;
    padding: 0 !important;
    left: -47px;
}

.automation-arrow .arrow {
    width: 35px;
    height: auto;
    margin-left: 12px;
}

#confirmation-image,
.image-container {
    display: none;
}

#automation-conf-small img,
#automation-conf-small {
    text-align: center;
}

#automation-conf-small .conf-section {
    float: none;
    min-height: auto;
    text-align: center;
}


/* print styles */

@media print {
    @page {
        size: portrait;
    }
    #confirmation-image,
    .image-container {
        display: block !important;
    }
    #confirmation {
        display: none !important;
    }
    canvas {
        display: block !important;
    }
    #confirmation-image {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        height: auto !important;
    }
    .share-row {
        display: none !important;
    }
    .links-row {
        display: none !important;
    }
}

/* FOOTER */

.footer-main {
    position: fixed;
    width: 100%;
    bottom:0;
    overflow: hidden;
    z-index: 1;
    background: #000;
    font-size: 18px;
    line-height: 1.444;
    margin-top: 15px;
    color: #646464;
}

.footer-main * {
  box-sizing: border-box;
}

.footer-main .traditional {
  padding-top: 10px;
  padding-bottom: 5px;
}

.footer-main .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  max-width: 1170px;
}

.footer-main section,
.footer-main .row {
  margin-left: -15px;
  margin-right: -15px;
}

.footer-main .traditional-primary {
  width: 33.33333%;
  float: right;

  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-main .event-logo {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-main ul {
  margin: 0;
  list-style: none;
  text-align: left;
}

.footer-main .social-links {
  float: left;
  width: 50%;
}

.footer-main .social-links ul {
  padding: 4px 0;
  overflow: hidden;
}

.footer-main .social-links li {
  margin-right: 0;
  padding: 0;
  width: 20%;
  float: left;
  text-align: center;
  display: inline-block;
}

.footer-main .social-links a {
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.footer-main .social-links a:hover {
  color: #d2d3d4;
}

.footer-main .social-links a::before {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'rh-icons';
}

.footer-main .icon-google-plus::before {
  content: "\f1be";
}

.footer-main .icon-linkedin-sign::before {
  content: "\f1c3";
}

.footer-main .icon-youtube::before {
  content: "\f1d3";
}

.footer-main .icon-facebook::before {
  content: "\f1bb";
}

.footer-main .icon-twitter::before {
  content: "\f1d0";
}

.footer-main .menu > li > a {
  /* Override foundation */
  padding: 0;
  display: inline;
}

.footer-main .legal .menu,
.footer-main .legal .menu a {
  line-height: 3.3;
}

.footer-main .legal,
.footer-main .legal .menu {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-main .legal {
  line-height: 3.4;
  float: left;
  width: 66.66667%;
}


.footer-main .legal .menu {
  float: right;
  width: 66.66667%;
}

.footer-main .legal li:first-child {
  margin-right: 22px;
}

.footer-main .legal li {
  float: left;
  padding: 0;
  margin-right: 8px;
  display: inline-block;
  font-size: 12px;
}

.footer-main .legal .last a {
  border-left: 1px solid #858585;
  padding-left: 10px;
}

.footer-main .legal a {
  color: #858585;
  text-decoration: none;
}

.footer-main .legal .copyright {
  float: left;
  width: 33.33333%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
}

/* Footer on medium screens */

@media screen and (max-width: 1200px) {
  .footer-main .container {
    max-width: 970px;
  }

  .footer-main .legal .copyright {
    float: none;
    width: 100%;
    clear: both;
  }

  .footer-main .legal .menu {
    float: none;
    width: auto;
  }

  .footer-main .legal .menu,
  /* .footer-main .legal .menu li, */
  .footer-main .legal .menu a,
  .footer-main .copyright {
    line-height: 17px;
  }
}

@media screen and (max-width: 1000px) {
  .footer-main .container {
    max-width: 750px;
  }
}

@media screen and (max-width: 760px) {
  .footer-main .container {
    max-width: none;
  }

  .footer-main .row {
    margin-right: 0;
    margin-left: 0;
  }

  .footer-main .legal,
  .footer-main .traditional-primary,
  .footer-main .event-logo,
  .footer-main .social-links {
    float: none;
    width: 100%;
  }

  .footer-main .social-links li {
    width: auto;
    margin-right: 24px;
  }

  .footer-main .social-links {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* HOME PAGE MEDIA QUERIES */


/* HOME PAGE - Small only */

@media screen and (max-width: 39.9375em) {
    [type=checkbox]+label,
    [type=radio]+label {
        margin-bottom: 10px;
    }
    .locked + label .checkbox-image {
        margin-bottom: 60px;
    }
    .selection-sidebar-bottom {
        text-align: center;
        margin-bottom: 150px;
    }
    .acc-sprite {
        width: 35px;
    }
    .acc-title {
        padding-left: 10px;
        max-width: calc(100% - 35px);
    }
    .acc-title h2 {
        font-size: 18px;
        line-height: 18px;
    }
    .submit_box {
        right: 15px !important;
    }
}

@media screen and (max-width: 63.9375em) {
    /* HOME PAGE - small and medium */
    .top-section h1 {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 5px;
    }
    .top-section h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .top-section h3 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .acc-left,
    .acc-right {
        width: 100%;
        float: none;
        display: block;
        position: relative;
        height: 100px;
        border-width: 0;
        border: none;
    }
    #empty-stack {
        display: block;
        color: #ee0000;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 1% !important;
    }
    .stack-text {
        line-height: 12px;
    }
    .stack-empty-text {
        line-height: 35px;
    }
    .acc-right {
        padding: 15px;
        height: auto;
    }
    #accordion {
        margin-right: 0px;
    }
    #rhel {
        background: #dfefef;
        padding-top: 10px;
        padding-bottom: 20px;
        min-height: 100px;
    }
    #home .column,
    #home .columns {
        padding-left: 15px;
        padding-right: 15px;
    }

    .acc-right {
      min-height: 0;
    }
}

@media screen and (min-width: 63.9375em) and (max-width: 80em) {
    /* HOME PAGE - custom query to address some spacing issues */
    .acc-title {
        padding-left: 10px;
    }
    .acc-title h2 {
        font-size: 18px;
        line-height: 18px;
        margin-top: 44px;
    }
    .submit_box {
        right: 15px !important;
    }
}


/* CONFIRMATION PAGE MEDIA QUERIES */


/* CONFIRMATION PAGE - Small only */

@media screen and (max-width: 39.9375em) {
    #confirmation .conf-block .conf-section,
    #confirmation .conf-block .conf-body {
        float: none;
        text-align: center;
        min-height: auto;
        width: 100%;
        max-width: 100%;
        display: block;
        border-bottom: none;
    }
    .conf-section-header h3 {
        margin: 20px;
        font-size: 14px;
    }
    .float-left,
    .float-right {
        float: none !important;
    }
    #rhe-os-conf,
    #bic-os-conf,
    #infrastructure-conf,
    #databases-conf,
    #ci-cd-conf,
    #source-control-management-conf,
    #collaboration-conf,
    #build-and-artifact-conf,
    #code-quality-conf,
    #testing-conf,
    #code-review-conf,
    #project-issue-tracking-conf,
    #rhel-conf,
    #monitoring-and-logging-conf,
    #private-conf,
    #public-conf,
    #management-conf,
    #networking-conf,
    #storage-conf,
    #oddball-row .row,
    #oddball-row .row .columns {
        padding: 0;
        margin: 0;
    }
    .conf-section#rhe-os-conf div,
    #storage-conf #storage-img-container-conf,
    .conf-section div {
        text-align: center;
    }
    .thin-border-right {
        border-right: 0px solid #d8dcdd;
    }
    #oddball-row img {
        max-width: 100px;
        margin-right: 20px;
    }
    #automation-vertical .conf-section img {
        max-width: 100%
    }
    .share-row {
        padding-left: 10px;
    }
    .jssocials-share-link {
        padding: 10px;
    }
    .jssocials-share {
        display: inline-block;
        width: 100% !important;
        text-align: center;
    }
    .jssocials-share-link {
        width: 200px;
    }
    .odd-section-block {
        height: auto
    }
    #identity-management-conf,
    #certificate-management-conf,
    #confirmation-conf {
        padding-top: 0px;
    }
    /* back links */
    #links {
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
    }
    #links.conf-body {
        text-align: center;
        margin: 0 auto;
        background: none;
        border: none;
    }
    .back-links {
        display: block;
        margin: 0.3em auto 15px auto !important;
        width: 200px;
        text-align: center;
    }
    #links .button {
        padding: 20px;
        font-size: 14px;
    }
}


/* CONFIRMATION PAGE - Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .thin-border-right {
        border-right: 0px solid #d8dcdd;
    }
    .conf-section div {
        text-align: center;
    }
    .conf-body {
        text-align: center;
    }
    .conf-section {
        display: inline-block;
        float: none;
        width: auto;
        min-height: 175px;
        vertical-align: top;
        text-align: center;
        margin: 0;
    }
    #automation-vertical .conf-section img {
        max-width: 60%
    }
    #identity-management-conf,
    #certificate-management-conf,
    #management-conf {
        padding-top: 10px;
    }
    .odd-section-block {
        height: auto;
    }
    .share-row {
        padding-left: 15px;
    }
    .jssocials-share-link {
        padding: 10px;
    }
    .jssocials-share {
        display: inline-block;
        width: 100% !important;
        text-align: center;
    }
    .jssocials-share-link {
        width: 200px;
    }
    /* back links */
    #links {
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
    }
    #links .float-left,
    #links .float-right {
        float: none !important;
    }
    #links.conf-body {
        text-align: center;
        margin: 0 auto;
        background: none;
        border: none;
    }
    .back-links {
        display: block;
        margin: 0.3em auto 15px auto !important;
        width: 200px;
        text-align: center;
    }
    #links .button {
        padding: 20px;
        font-size: 14px;
    }
}


/* CONFIRMATION PAGE - medium to almost large- custom query to fix some spacing issues */

@media screen and (min-width: 64em) and (max-width: 1210px) {
    .conf-body {
        text-align: center;
    }
    .conf-section {
        display: inline-block;
        float: none;
        width: auto;
        min-height: 175px;
        vertical-align: top;
        text-align: center;
        margin: 0;
    }
    .conf-section-header h3 {
        margin: 0 0 10px 0;
    }
}


/* CONFIRMATION PAGE small to almost large - shared styles */

@media screen and (max-width: 1210px) {
    #networking-conf,
    #storage-conf {
        width: 100%;
    }
    #oddball-row {
        display: inline-block;
        margin: 0;
        padding: 0 0px 0 0;
        float: none;
    }
    .odd-section-margin-top {
        margin-top: 0 !important;
    }
    .odd-section-margin-left {
        margin-left: 0 !important;
    }
    #management-conf .conf-section-header {
        display: inline-block;
        margin-right: 0px;
        margin-left: 0px;
    }
    #management-conf img:first-of-type {
        margin-right: 0px
    }
    #storage-conf #storage-img-container-conf {
        text-align: center;
    }
    .odd-section-block {
        border: 1px solid #d8dcdd;
        padding: 5px;
        margin: 10px 0;
    }
    .odd-section-block img {
        padding-bottom: 5px
    }
    #container-platform-row .thin-border-right {
        border: 0;
    }
    #monitoring-and-logging-conf {
        padding-left: 20px;
    }
    #automation-vertical {
        margin-right: 0px;
    }
    .automation-arrow {
        display: none;
    }
}

.vex-labs-alert {
  margin-left: -.5em;
  background-color: #fff;
  color: black;
}

.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input.dirty[type="text"]:invalid {
  border: 2px solid #ee0000;
}

.custom-error {
  display: none;
  color: #ee0000;
  font-size: .875rem;
  line-height: 1rem;
  margin-bottom: .25rem;
}

.dirty:invalid + .custom-error {
  display: block;
}


/* CONFIRMATION PAGE - Large and up */

@media screen and (min-width: 64em) {
    #confirmation .no-padding {
        padding: 0;
    }
}
